{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 container">
        <h1>{{ evaluation.name }}</h1>

        <ul>
            <li>Moyenne : {{ evaluation.mean|number_format(2, ',') }} / {{ evaluation.totalPoints() }}</li>
            <li>Complétion : {{ evaluation.completion|number_format(2, ',') }} %</li>
        </ul>

        <h2>Questions</h2>
        <table class="table">
            <tbody>
                {% for question in evaluation.questions %}
                    <tr>
                        <th scope="row">
                            {{ question.title }}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Réponses</h2>
        <table class="table">
            <tbody>
                {% for student in evaluation.students %}
                    <tr>
                        <th scope="row">{{ student.email }}</th>
                        <td>
                            {% if evaluation.studentHasBeenEvaluated(student) %}
                                Note : {{ evaluation.studentScore(student) }} / {{ evaluation.totalPoints() }}
                            {% else %}
                                Non évalué
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}