<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a href="{{ path('landing') }}" class="navbar-brand d-flex align-items-center">
                    <i class="fas fa-border fa-glasses"></i>&nbsp;
                    <strong>El Professor</strong>
                </a>
            </li>
            {% if is_granted('ROLE_STUDENT') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logbook_display') }}">
                        <i class="fas fa-book"></i> Journal de bord
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav flex-row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if app.user.picture %}
                        <li class="mr-2">
                            <div class="avatar">
                                <img
                                    src="{{ asset('upload/profile_picture/' ~ app.user.picture) }}"
                                    alt="{{ app.user.firstname }} {{ app.user.lastname }}"
                                />
                            </div>
                        </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="fas fa-sign-out-alt"></i> se déconnecter
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>